*DS_Store*
IEEGToolbox/.DS_Store
IEEGToolbox/KMeansSeizurePlot.png
IEEGToolbox/SeizurePlot.png
IEEGToolbox/SeniorDesign/.DS_Store
IEEGToolbox/SeniorDesign/ind_ieeglogin
IEEGToolbox/.DS_Store
.gitignore~
*.mat
*.png
*.csv
*.m~
IEEGToolbox/SeniorDesign/plots
