*DS_Store*
IEEGToolbox/.DS_Store
IEEGToolbox/KMeansSeizurePlot.png
IEEGToolbox/SeizurePlot.png
IEEGToolbox/SeniorDesign/.DS_Store
IEEGToolbox/SeniorDesign/@IEEGAnnotation/
IEEGToolbox/SeniorDesign/@IEEGAnnotationlayer/
IEEGToolbox/SeniorDesign/@IEEGDataset/
IEEGToolbox/SeniorDesign/@IEEGMontage/
IEEGToolbox/SeniorDesign/@IEEGMontagePair/
IEEGToolbox/SeniorDesign/@IEEGObject/
IEEGToolbox/SeniorDesign/@IEEGSession/
IEEGToolbox/SeniorDesign/@IEEGTimeseries/
IEEGToolbox/SeniorDesign/ind_ieeglogin
IEEGToolbox/SeniorDesign/lib/
IEEGToolbox/.DS_Store
.gitignore~
*.mat
*.png
*.csv
